<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>Account_number</td>
            <td>Account_name</td>
            <td>deposit</td>
            <td>withdrawals</td>
            <td>balance</td>
        </th>
        {%for account in accounts%}
    <tr>
        <td>{{account.Account_name}}</td>
        <td>{{account.Account_number}}</td>
        <td>{{account.deposit}}</td>
        <td>{{account.withdrawals}}</td>
        <td>{{account.balance}}</td>
    </tr>
    {%endfor%}
    
    </table>
</body>
</html>