<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <th>
            <td>card_number</td>
            <td>signature</td>
            <td>expiry_date</td>
            <td>date_issued</td>
            <td>issuer</td>
            <td>security_code</td>
        </th>
        {%for card in cards%}
    <tr>
        <td>{{card.card_number}}</td>
        <td>{{card.security_code}}</td>
        <td>{{card.signature}}</td>
        <td>{{card.issuer}}</td>
        <td>{{card.expiry_date}}</td>
        <td>{{card.date_issued}}</td>
    </tr>
    {%endfor%}
    
    </table>
</body>
</html>